$heart-colour: rgb(224, 36, 94);

input.heart {
  position: absolute;
  left: -100vw;

  & + label {
    color: $base-colour;
    font-size: $base-size;
  }

  &:checked + label {
    color: $heart-colour;
  }
}
